extends layout

block content
  h1= title
  p Welcome to #{title} <-(that word was a page title.)!
  p A eTo npocTo TekcT Ha HoBoN cTpoke. //so, that how you make coments in JS, right? It feels like a real programming language!
